<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/main::commonHead('로그인')}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{layout/main::pageNavbar('login')}"></nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col col-g-6">
            <h2 class="mb-3">로그인</h2>

            <form th:action="@{/member/login}" method="post">
                <div class="mb-3">
                    <label for="inputId" class="form-label">아이디</label>
                    <input type="text"
                           th:value="${id == null ? '' : id}"
                           class="form-control" id="inputId" name="id">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">암호</label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input"
                           type="checkbox"
                           id="rememberCheckbox"
                           name="remember"
                           th:checked="${id != null}">
                    <label class="form-check-label" for="rememberCheckbox">
                        항상 아이디 기억하기
                    </label>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="~{layout/main::commonScript}"/>
</body>
</html>